  <div class="jumbotron">
    <h1 class="display-4">Kronos</h1>
    <p class="lead">Agendador de reprodução de audios gravados ou streaming</p>
    <hr class="my-4">
    <p>O agendador foi feito para exercitar na pratica a linguagem Javasacript</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/mauricom97" role="button">Ver autor</a>
  </div>