
    body{
      background-color: #000000;
      margin: 5px;
    }
    #iniciotr{
      border-radius:4px;
      -moz-border-radius:4px;
      -webkit-border-radius:4px;
      box-shadow: 1px 1px 2px #333333;    
      -moz-box-shadow: 1px 1px 2px #333333;
      -webkit-box-shadow: 1px 1px 2px #333333;
      background: #cccccc; 
      border:1px solid #000000;
      width:100px
    }
    #terminotr{
      border-radius:4px;
      -moz-border-radius:4px;
      -webkit-border-radius:4px;
      box-shadow: 1px 1px 2px #333333;    
      -moz-box-shadow: 1px 1px 2px #333333;
      -webkit-box-shadow: 1px 1px 2px #333333;
      background: #cccccc; 
      border:1px solid #000000;
      width:100px
    }

  
   .inicio{
     color: rgb(255, 251, 0);
     
   }
   .fim{
    color: rgb(255, 251, 0);
    
   } 

   #horarioAgenda{
    border-radius:4px;
      -moz-border-radius:4px;
      -webkit-border-radius:4px;
      box-shadow: 1px 1px 2px #333333;    
      -moz-box-shadow: 1px 1px 2px #333333;
      -webkit-box-shadow: 1px 1px 2px #333333;
      background: #cccccc; 
      border:1px solid #000000;
      width:100px;
  
   }
   #aguardando{
     font-size: 15px;
     font-style: italic;
   }
   #demo{
    margin: 0px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
   }
   #horario{
     color: rgb(0, 0, 0);
  
   }
   #termino{
     color: rgb(0, 0, 0);
   }
   #inicio{
    color: rgb(0, 0, 0);
    
   }
   #infos{
     color: darkorange;
   }
   #links{
     padding: 15px;
     background-color: #000000af;
     color: beige;
     border-radius: 50px;
     margin: 10px;
     text-align: center;
     width: 800px;
   }

   #relogioUser{
     text-align: center;
     top: 200px;
   }
   #link{
     text-align: right;
     text-align: left;
   }
   audio{
    color: #f7de00;
   }
   section
   {
       background-color: rgba(255, 255, 255, 0.521);
       border-radius: 10px;
       padding: 15px;
       width: 500px;
       margin: auto;
       box-shadow: 5px 5px 10px rgba(0, 0, 0, 363);
   }