

<div class="card">
    <div class="card-body">
        <h1 class="display-1">{{postagem.titulo}}</h1>
        <hr>
        <small>Data da publicação:{{postagem.data}}</small>
        <hr>
        <p class="text-monospace">{{postagem.conteudo}}</p>        
    </div>
</div>
